div.Game {
  height: calc(100% - 60px - 1px - 25px);

  min-width: 65vmin;
  max-width: 850px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
